---
- name: Install and Configure Prometheus & Node Exporter on Ubuntu
  hosts: all
  become: yes

  vars:
    prometheus_version: "2.53.0"
    node_exporter_version: "1.7.0"
    prometheus_user: "prometheus"
    prometheus_install_dir: "/etc/prometheus"
    prometheus_data_dir: "/var/lib/prometheus"

  tasks:

    - name: Create prometheus user
      user:
        name: "{{ prometheus_user }}"
        system: yes
        shell: /usr/sbin/nologin

    - name: Create directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_user }}"
      loop:
        - "{{ prometheus_install_dir }}"
        - "{{ prometheus_data_dir }}"

    - name: Download Prometheus archive
      get_url:
        url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
        dest: /tmp/prometheus.tar.gz

    - name: Extract Prometheus
      unarchive:
        src: /tmp/prometheus.tar.gz
        dest: /tmp/
        remote_src: yes

    - name: Copy binaries
      copy:
        src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        mode: "0755"
      loop:
        - prometheus
        - promtool
      notify: Restart Prometheus

    - name: Copy Prometheus config
      template:
        src: prometheus.yml.j2
        dest: "{{ prometheus_install_dir }}/prometheus.yml"
        owner: "{{ prometheus_user }}"
        mode: "0644"
      notify: Restart Prometheus

    - name: Create Prometheus systemd service
      copy:
        dest: /etc/systemd/system/prometheus.service
        mode: "0644"
        content: |
          [Unit]
          Description=Prometheus Monitoring
          Wants=network-online.target
          After=network-online.target

          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/prometheus \
            --config.file={{ prometheus_install_dir }}/prometheus.yml \
            --storage.tsdb.path={{ prometheus_data_dir }} \
            --web.console.templates=/usr/share/prometheus/consoles \
            --web.console.libraries=/usr/share/prometheus/console_libraries

          [Install]
          WantedBy=multi-user.target
      notify: Reload Systemd

    # -------------------------------
    # NODE EXPORTER
    # -------------------------------

    - name: Download Node Exporter
      get_url:
        url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
        dest: /tmp/node_exporter.tar.gz

    - name: Extract Node Exporter
      unarchive:
        src: /tmp/node_exporter.tar.gz
        dest: /tmp/
        remote_src: yes

    - name: Copy Node Exporter binary
      copy:
        src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter"
        dest: /usr/local/bin/node_exporter
        mode: "0755"
      notify: Restart Node Exporter

    - name: Create Node Exporter systemd service
      copy:
        dest: /etc/systemd/system/node_exporter.service
        mode: "0644"
        content: |
          [Unit]
          Description=Prometheus Node Exporter
          After=network.target

          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/node_exporter

          [Install]
          WantedBy=multi-user.target
      notify: Reload Systemd

  handlers:
    - name: Reload Systemd
      command: systemctl daemon-reload

    - name: Restart Prometheus
      service:
        name: prometheus
        state: restarted
        enabled: true

    - name: Restart Node Exporter
      service:
        name: node_exporter
        state: restarted
        enabled: true
